LINKEDIN_SESSION_COOKIE=AQEDAT_mcnECWj9MAAABnsX8HBYAAAGe6gigFlYAOoj_k20cFQVb6_gt64xqv7GnPchXgn4X42uCM8vOiWUCGNk4_615ddrfLmU2lDylO5uaRrsqf87rQUZECBOVpFXaumq41xNElWofS9rmZjI0N_Yl
LINKEDIN_ACCESS_TOKEN=AQUgHeAMkkE6tBmUXJXNqwjF4bJ8P8MfkAo8cTTOSu6pnahm7vi6ZPRdvDbB1cIHoYQsSt6AZ5IzpGI888nPRgP-C04BmVaYXaV51tqyayP05bJOz-wOQ_tCaT4CWKvlnQgCEKGpiT6pRglEm1jUclqReeSDnlbx6Of1n5JMudGbni9911fj7x65MfB_FzqzPbRJMUj_JOOtZfrelxunMkj8-dy8UJBsixTR90wT1K-9cJ1bqofO3mpKwRhgUyQXxHq7-zADbMQON0HZ0wgyv9pst0zFlwK35M9uR69kU5oDSI5Xzw_36dAW7iiSheIr7mWajuuqd65DssrVRIZvlhIRdmB0Aw
LINKEDIN_CLIENT_ID=86wlto3f0cfxx
OPENAI_API_KEY=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
SMTP_EMAIL=sonalardhi@gmail.com
SMTP_PASSWORD=ywxm klda hnpx wwvp
CLIENT_SECRET = "WPL_AP1.ASnqYnpdexFErJpg.Xf8IiQ=="
REDIRECT_URI = "http://localhost:8000/callback"